<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place it.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="images/it.ico">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>


  <body layout="row" ng-app="portfolio" class="icondemoFontIconsWithLigatures" ng-cloak>


    <div ng-controller="sideController" layout="column" layout-fill layout-align="center center">
      
          
      <md-toolbar md-whiteframe="3">
        <div class="md-toolbar-tools container Capitalize"  >
          <span>SoccJS</span>
          <!-- fill up the space between left and right area -->
          <span flex></span>
          <md-button >about</md-button>
          <md-button>study</md-button>
          <md-button>project</md-button>
          <md-icon md-font-library="material-icons" ng-click="toggleLeft()">menu</md-icon>
        </div>
      </md-toolbar>
         
      <md-content  class="container" layout="column" flex="100" class="boxWithHeight">
        <div ui-view></div>
       
      </md-content>
      

      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"  >
        <md-toolbar class="md-theme-indigo" layout="row">
          <h1 class="md-toolbar-tools">Sidenav Left</h1>
          <span flex>
          <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
              <md-icon md-menu-origin class="material-icons">phone</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-click="ctrl.redial($event)">
                  <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                  Redial
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                  <md-icon md-svg-icon="call:voicemail"></md-icon>
                  Check voicemail
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="ctrl.toggleNotifications()">
                  <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
                  {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu> 
        </md-toolbar>
        
        <md-content class="md-padding" ng-controller="LeftCtrl">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
              Close Sidenav Left
          </md-button>
          <p hide-md show-gt-md>
              This sidenav is locked open on your device. To go back to the default behavior,
              narrow your display.
          </p>
          <p> 
            The "right" sideNav is open = {{isOpen()}} 
          </p>
        </md-content>
        
      </md-sidenav>

      <!-- <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" class="md-padding">
          <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
          </md-button>
        </md-content>
      </md-sidenav> -->


      </div>

  

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

   

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/common/common.module.js"></script>
        <script src="scripts/common/common.router.js"></script>
        <script src="scripts/common/common.controller.js"></script>
        <script src="scripts/common/config/common.config.palette.js"></script>
        <!-- endbuild -->
</body>
</html>