body[ng-cloak] {
  display:none;
}
body {
  background-color: #F6F4F1!important;
  overflow: hidden;
}


/* Important to set height for column layout */

.boxWithHeight {
  box-sizing: border-box;
  height: 100%;
}

.container{
  background-color: transparent;
  width:100%;
  margin: 0 auto;
  padding: 0 15%;
}

.Capitalize .md-button{
  text-transform: capitalize;
  height: 100%;
  line-height: 60px;
  margin: 0 auto;
}
.Capitalize md-icon{
  display: none;
}
.Capitalize span{
  cursor: pointer;
  color: rgba(139, 195, 74, 0.9);  
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

md-toolbar:not(.md-menu-toolbar){
  background-color: white;
  color: rgba(139, 195, 74, 0.9)
}
md-content.container{
  background-color: transparent;
}
a{
  cursor: pointer;
}
.main-layout{
  margin: 25px 10px;
  height: 100%;
}

.about-layout{
  padding: 10px;
}
.about-layout .subtitle{
  margin: 30px 0px;
  width: 50%;
  font-size: 18px;
}
.about-layout .subcontent{
  padding-right: 20px;
}
.about-layout .subcontent>p{
  min-height: 150px;
  font-size: 15px;
}
.about-layout .subcontent>img{
  width: 100%;
  height: 200px;
}
.spinner{
  width: 100%;
  height: 45px;
  text-align: center;
}
.spinner .loader{
  width: 15px;
  height: 15px;
  background: url("/images/loader.png") no-repeat;
  display: inline-block;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@media screen and (max-width: 1000px) {
  .right-sidebar{
    display: none;
  }
  .container{
    background-color: transparent;
    width:100%;
    margin: 0 auto;
    padding: 0;
  }
  .Capitalize{
    padding-left: 10px;
  }
  .Capitalize .md-button{
    display: none;
  }
  .Capitalize md-icon{
    display: block;
    font-size: 30px;
    width: 30px;
    height: 60%;
    margin-right: 10px;
  }
  .Capitalize .material-icons{
    color: rgba(139, 195, 74, 0.9)
  }  
  .about-layout .subtitle{
    width: 100%;
  }
  .about-layout .subcontent{
    width: 100%;
    margin-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
  }
  .about-layout .subcontent>p{
    min-height: 100px;
  }
  .about-layout .subcontent>img{
    width: 100%;
    height: 150px;
  }

}
