body[ng-cloak] {
  display:none;
}
body {
  background-color: #F6F4F1!important;
}
div[flex="30"] {
  background-color: #DFDFDF;  
}

section[flex="40"] {
  background-color: #D4E5FA;
}
section[flex="70"] {
  background-color: #E8FCD6;
}
section[flex="20"] {
 background-color: #FFD5E3;
}
section[flex=""] {
 background-color: rgba(0, 128, 0, 0.35);
}


/* Important to set height for column layout */

.boxWithHeight {
  box-sizing: border-box;
  height: 100%;
}

.a, section {
  border: 5px solid rgba(85, 97, 85, 0.27);
  margin: 5px;  
}

section {
  background-color: #dedede;
}



.intro {
  position:absolute;
  left:30px;
  top:20px;
  width : 600px;
  height: 20px;  
}

.demo {
  position:relative;  
  width : 600px;
  height : 300px; 
  background-color: #aeaeae; 
  margin-top:40px;
  margin-left:0px;
}

.demo a {
  text-decoration: none !important;
  color: white;
  height:100%;
  width:100%;
}

.demo a.visited {
  color:white;
}

.demo #content {
  background-color: rgb(255, 244, 220);
  padding:30px;
  font-weight:600;
  border: 1px solid #aeaeae;
  border-top:none;
}
.container{
  background-color: transparent;
  width:70%;
  margin: 0 auto;
  padding: 0;
}

.Capitalize .md-button{
  text-transform: capitalize;
  height: 100%;
  margin: 0 auto;
}
.Capitalize md-icon{
  display: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

md-toolbar:not(.md-menu-toolbar){
  background-color: white;
  color:rgba(139,195,74,0.7);
}
md-content.container{
  background-color: transparent;
}
.main{
  background-color: red;
}

@media screen and (max-width: 1000px) {
  .right-sidebar{
    display: none;
  }
  .container{
    background-color: transparent;
    width:100%;
    margin: 0 auto;
    padding: 0;
  }
  .Capitalize{
    padding-left: 10px;
  }
  .Capitalize .md-button{
    display: none;
  }
  .Capitalize md-icon{
    display: block;
    font-size: 36px;
    width: 40px;
    height: 80%;
    vertical-align: center;
    background-color: #ccc;
  }


}
