body[ng-cloak] {
  display:none;
}
body {
  background-color: #F6F4F1!important;
}
div[flex="30"] {
  background-color: #DFDFDF;  
}

section[flex="40"] {
  background-color: #D4E5FA;
}
section[flex="70"] {
  background-color: #E8FCD6;
}
section[flex="20"] {
 background-color: #FFD5E3;
}
section[flex=""] {
 background-color: rgba(0, 128, 0, 0.35);
}


/* Important to set height for column layout */

.boxWithHeight {
  box-sizing: border-box;
  height: 100%;
}

.a, section {
  border: 5px solid rgba(85, 97, 85, 0.27);
  margin: 5px;  
}

section {
  background-color: #dedede;
}

.container{
  background-color: transparent;
  width:70%;
  margin: 0 auto;
  padding: 0;
}